@model DomainClasses.AppUser

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>User Profile</h4>
    <hr />
    <p>@Html.DisplayFor(model => model.UserName)</p>

        @Html.ActionLink("Change password", "PasswordChange", "Profile")

</div>

