p.comment-date {
    font-style: italic;
    color: #B3A6A6;
}

p.comment-username{
    font-weight: bold;
}

.field-validation-error {
    color: red;
    display: block;
}

.validation-summary-errors li
{
    color:red;
}

.navbar.navbar-inverse.navbar-fixed-top
{
    background-color:#193675;
}

.navbar.navbar-inverse .navbar-brand{
    color:#C5BCBC;
}

.navbar.navbar-inverse .navbar-brand:hover {
    color:white;
}

.color-red {
 color:red;
}

select.form-control{
    width:25%;
}